<mat-card class="footer-card">
    <mat-card-content>
        <p>
            Siguenos:
        </p>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="facebook icon">
            <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="instagram icon">
            <mat-icon>camera_alt</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="whatsapp icon">
            <mat-icon>chat</mat-icon>
        </button>
        <p class="info"> 2024 LHOTEL International, Inc. Todos los derechos reservados.</p>
        <div class="rows">
            <a class="info" routerLink="/termyCond">Terminos y condiciones</a>
            <a class="info marginLeft" routerLink="/AbouthUs">Abouth Us</a>
        </div>
    </mat-card-content>
</mat-card>