<mat-card class="reserv-card margins">
    <mat-card-header>
        <mat-card-title>room 101</mat-card-title>
        <mat-card-subtitle>Standar</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="colums">
            <div class="rows">
                <p>Capacidad: 1 huesped</p>
                <p>Precio por noche: $100</p>
            </div>
            <p>Benedicios: Wifi, TV, Aire Acondicionado, Mini Bar</p>
        </div>
    </mat-card-content>
    <mat-card-actions class="rows">
        <a routerLink="/new-reservation">
            <button class="secondary button margins">Reservar</button>
        </a>
        <button class="secondary button margins">Comentar</button>
    </mat-card-actions>
</mat-card>