<div class="card-container">
    <mat-card class="reserv-card margins" *ngFor="let reserv of dataReserv">
    <mat-card-header>
        <mat-card-title>Reservacion {{ reserv.id }}</mat-card-title>
        <mat-card-subtitle>Habitacion {{ reserv.room.room }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="getImagePath(reserv.room.type)" alt="Room Photo">
    <mat-card-content>
        <div class="columns">
        <p>Tipo de habitacion: {{ reserv.room.type }}</p>
        <p>Precio por noche: {{ reserv.room.pricePerNight }}</p>
        <p *ngFor="let bill of dataBill">Tiempo Hospedado: {{ bill.days }}</p>
        <p>Estado de la reserva: {{ reserv.state }}</p>
        <p>Fecha de ingreso: {{ reserv.checkIn }}</p>
        </div>
    </mat-card-content>
    <mat-card-actions class="rows">
        <button class="secondary button margins">Cancelar</button>
        <a routerLink="/new-reservation">
        <button class="secondary button margins">Editar</button>
        </a>
    </mat-card-actions>
    </mat-card>
</div>