<mat-card class="reserv-card margins">
    <mat-card-header>
        <mat-card-title>Reservacion 1</mat-card-title>
        <mat-card-subtitle>Usuario</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
                <p>Tipo de habitacion: estandar</p>
                <p>Precio por noche: $100</p>
                <p>Tiempo Hospedado: 5 dias</p>
                <p>Gastos adicionales: 0</p>
                <p>Fecha de ingreso: 20/02/2024</p>
                <p>Fecha de salida: 25/02/2024</p>
                <p>Total: $500</p>
                <p>Impuestos: $30</p>
                <p>Total a pagar: $530</p>
    </mat-card-content>
    <mat-card-actions class="colums">
        <div>
            <button class="primary button marginTop">Descargar factura</button>
        </div>
    </mat-card-actions>
    <p class="info marginLeft">Se enviara la factura por correo electronico</p>
</mat-card>