<div class="colums marginTop5 background">
    <Span>Registrate</Span>
    <form [formGroup]="signUpForm" class="forms marginTop padding">
        <div>
            Nombre <input
            [class.is-invalid]="signUpForm.get('name')?.touched && signUpForm.get('name')?.invalid"
            type="text"
            class="form-control"
            formControlerName="name">
            Usuario <input
            [class.is-invalid]="signUpForm.get('username')?.touched && signUpForm.get('username')?.invalid"
            type="text"
            class="form-control"
            formControlerName="username">
            Contraseña <input
            [class.is-invalid]="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid"
            type="password"
            class="form-control"
            formControlerName="password">
        </div>
        <div>
            Apellido <input
            [class.is-invalid]="signUpForm.get('lastname')?.touched && signUpForm.get('lastname')?.invalid"
            type="text"
            class="form-control"
            formControlerName="lastname">
            email <input
            [class.is-invalid]="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid"
            type="text"
            class="form-control"
            formControlerName="email">
            Repita la Contraseña <input
            [class.is-invalid]="signUpForm.get('password2')?.touched && signUpForm.get('password2')?.invalid"
            type="password"
            class="form-control"
            formControlerName="password2">
        </div>
        <button class="primary button" type="submit">Registrarse</button>
        <p class="info">
            Si ya estas registrado
            <a routerLink="/log-in"> Ingresa aqui</a>
        </p>
    </form>
</div>