<div class="colums marginTop5 background">
    <span class="marginTop">Ingresar</span>
    <form #form="ngForm" class="forms marginTop" (ngSubmit)="login(form)">
        <div>
            <h1>Inicio de sesion</h1>
        </div>
        <div>
            Usuario: <input
            name="username"
            type="text"
            placeholder="Nombre de usuario"
            class="form-control"
            [(ngModel)]="creds.username">
            Contraseña <input
            name="password"
            type="password"
            placeholder="Contraseña"
            class="form-control"
            [(ngModel)]="creds.password">
        </div>
            <button class="primary button" type="submit" >Ingresar</button>
        <p class="info">
            Si aun no tienes cuenta
            <a routerLink="/sing-up"> Registrate aqui</a>
        </p>
    </form>
</div>