<div class="colums marginTop5 background">
    <p class="margins">¿Listo para un descanso?</p>
    <p class="margins">¿o necesitas un lugar donde descansar por trabajo?</p>
    <p class="margins">Nosotros ya estamos listos para alojarte.</p>
    <p class="margins">En LHOTEL ya estamos preparados para tu llegada. Tenemos lo que necesitas, un lugar hermozo y acogedor con todo lo que necesitas para estar bien.</p>
    <p class="margins">Hospedate con nosotros:</p>
    <a routerLink="reservations">
        <button class="home-button margins marginTop">Descubre tu hogar temporal</button>
    </a>
</div>